input.stop-interaction {
	pointer-events:none;
}

input.visual-changes {
	color: #999 !important;
}

input.disable-buttons {
	pointer-events:none;
        color: #999;
}

.table-hover> tbody> tr:hover {
	background-color:#f6f8f8;
}
