body {
  margin: 0;
  padding: 0;
  background-color: #AAA;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
  
.form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left:-1px;
}
  
.input-group-prepend {
  margin-right: -1px;
}
