<html>
<body>
################### THIS IS AN AUTOMATED EMAIL #######################<br/>
Your image is now available for download <a href="https://cloud.hrl.uoit.ca/%s">here</a><br/>
This download link will only be valid for <b>24 hours</b><br/>
</body>
</html>
