<!doctype html>
<html><body>
Hello,<br/>
<br/>
A cloud account has been created to provide you with access to the FBIT Cloud environment this semester. Your credentials are as follows:<br/>
<br/>
<br/>
Cloud Web Panel:<br/>
URL:          https://cloud.hrl.uoit.ca<br/>
Username:     %s<br/>
Password:     %s<br/>
<br/>
<br/>
Connecting to your VMs:<br/>
<br/>
VPN Type:           OpenVPN<br/>
Credentials:        [Same As Above]<br/>
Client Software:    https://openvpn.net/index.php/open-source/downloads.html<br/>
OpenVPN File:       https://cloud.hrl.uoit.ca/vpn<br/>
Setup Guide:        https://cloud.hrl.uoit.ca/guide<br/>
<br/>
<br/>
Note: You cannot log into the cloud web portal until your account has been enabled by your instructor or TA!<br/>
<br/>
<br/>
Please take a moment to read through the getting started guide located at:<br/>
<br/>
https://cloud.hrl.uoit.ca/guide<br/>
<br/>
This guide provides additional instructions regarding how to connect to your VM instances remotely using OpenVPN.<br/>
<br/>
<br/>
Help! I can't connect!<br/>
----------------------------<br/>
<br/>
If you are having issues connecting to the cloud portal, or if you require additional technical assistance, please open a ticket at https://labsupport.fbit.uoit.ca<br/>
</body>
</html>
