<!doctype html>
<html><body>
Hello,<br/>
<br/>
You have been added as a TA to a course on the FBIT Cloud environment this semester:<br/>
<br/>
<b>Course Details:</b><br/>
Course:       %s<br/>
Username:     %s<br/>
Password:     [See Registration Email]<br/>
<br/>
<b>Connecting to your VMs:</b><br/>
VPN Type:           OpenVPN<br/>
Credentials:        [Same As Above]<br/>
Client Software:    https://openvpn.net/index.php/open-source/downloads.html<br/>
OpenVPN File:       https://cloud.hrl.uoit.ca/vpn<br/>
Setup Guide:        https://cloud.hrl.uoit.ca/guide<br/>
<br/>
<b>Note: You cannot log into the cloud web portal until your account has been enabled by your instructor or TA!</b><br/>
<br/>
Please take a moment to read through the getting started guide located at https://cloud.hrl.uoit.ca/guide<br/>
This guide provides additional instructions regarding how to connect to your VM instances remotely using OpenVPN.<br/>
<br/>
<b>Help! I can't connect!</b><br/>
If you are having issues connecting to the cloud portal, or if you require additional technical assistance, please open a ticket at https://labsupport.fbit.uoit.ca<br/>
</body>
</html>
