{% from 'bootstrap/nav.html' import render_nav_item %}
{% import 'bootstrap/form.html' as wtf %}
<!doctype html>
<html>
	<head>
		{% block head %}

		<!-- Meta tags -->
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>

		<link rel='shortcut icon' href='{{ url_for('static', filename='favicon.ico') }}'/>
		{% block styles %}
		<!-- Bootstrap CSS --> {# We're importing a custom Bootstrap theme #}
		<link rel='stylesheet' href='{{ url_for('static', filename='bootstrap/flatly.min.css') }}'/>
		<link rel='stylesheet' href='{{ url_for('static', filename='fontawesome/css/all.min.css') }}'/>
		<style>
		</style>
		{% endblock %}

		{% block title %}
		<title>{% if title %}{{ title }} - CM Portal{% else %}CM Portal{% endif %}</title>
		{% endblock %}
		
		{% endblock %}
	</head>

	<body>
		{% block nav %}
		<nav class='navbar navbar-expand-md navbar-dark bg-primary'>
			<div class='container'>
				<a class='navbar-brand' href='{{ url_for('index') }}'><i class="fas fa-cloud-upload-alt fa-lg fa-flip-horizontal"></i><span style='padding-left:10px'>CM Portal</span></a>

			
				<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navCollapse' style='border:none; outline:none;'>
					<span class='navbar-toggler-icon'></span>
				</button>

				<div id='navCollapse' class='navbar-collapse collapse'>
					<div class='navbar-text'>
						{% if navbar_text %}<span>{{ navbar_text }}</span>{% endif %}
					</div>
					<ul class='navbar-nav ml-auto'>
						<li class='nav-item dropdown'>
							<a class='nav-link dropdown-toggle' href='#' id='navbardrop' data-toggle='dropdown'>Manage</a>
							<div class='dropdown-menu'>
								<a class='dropdown-item' href='{{ url_for('index') }}'>Overview</a>
								<a class='dropdown-item' href='{{ url_for('course_management') }}'>Users</a>
								<a class='dropdown-item' href='{{ url_for('schedule_management') }}'>Schedule</a>
								<a class='dropdown-item' href='{{ url_for('image_management') }}'>Images</a>
								<a class='dropdown-item' href='{{ url_for('network_panel') }}'>Networks</a>
								<a class='dropdown-item' href='{{ url_for('edit_quota') }}'>Quota</a>
							</div>
						</li>

						<li class='nav-item dropdown'>
							<a class='nav-link dropdown-toggle' id='navbardrop' data-toggle='dropdown'>Account</a>
							<div class='dropdown-menu'>
								<a class='dropdown-item' href='{{ url_for('logout') }}'>Logout</a>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</nav>
		{% endblock %}
	
		{% block content %}
			<div class='container'>
				<div class='pt-5'>
					{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					{% for category, message in messages %}
					{% if category == 'error' %}
					<div class='alert alert-danger alert-dismissible' role='alert'>
					{% elif category == 'warning' %}
					<div class='alert alert-warning alert-dismissible' role='alert'>
					{% else %}
					<div class='alert alert-info alert-dismissible' role='alert'>
					{% endif %}
						{{ message }}
						<button type='button' class='close' data-dismiss='alert'>
							<span>&times;</span>
						</button>
					</div>
					{% endfor %}
					{% endif %}
					{% endwith %}
		
					{% block app_content %}{% endblock %}
				</div>
			</div>
		{% endblock %}
	
		{% block scripts %}
		{{ bootstrap.load_js() }}
		{% endblock %}
	</body>
</html>
