{% from 'bootstrap/nav.html' import render_nav_item %}

<!doctype html>
<html>
	<head>
		{% block head %}

		<!-- Meta tags -->
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>

		{% block styles %}
		<!-- Bootstrap CSS --> {# We're importing a custom Bootstrap theme #}
		<link rel='stylesheet' href='{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}'/>
		<link rel='stylesheet' href='{{ url_for('static', filename='fontawesome/css/all.min.css') }}'/>
		{% endblock %}


		{% block title %}
		<title>{% if title %}{{ title }} - CM Portal{% else %}CM Portal{% endif %}</title>
		{% endblock %}
		
		{% endblock %}
	</head>

	<body>
		{% block nav %}
		<nav class='navbar navbar-expand-md navbar-dark bg-primary'>
			<div class='container'>
				<div class='navbar-header'>
					<a class='navbar-brand' href='{{ url_for('index') }}'>CM Portal</a>
				</div>

				<ul class='nav navbar-nav navbar-right'>
					{% if current_user.is_anonymous %}
					{{ render_nav_item('login', 'Login') }}
					{% else %}
					<li class='nav-item dropdown'>
						<a class='nav-link dropdown-toggle' href='#' id='navbardrop' data-toggle='dropdown'>
							Manage
						</a>
						<div class='dropdown-menu'>
							{#{{ render_nav_item('course_management', 'Course') }}#}
							<a class='dropdown-item' href='{{ url_for('course_management') }}'>Course</a>
							<a class='dropdown-item' href='{{ url_for('schedule_management') }}'>Schedule</a>
							<a class='dropdown-item' href='{{ url_for('image_management') }}'>Images</a>
							<a class='dropdown-item' href='{{ url_for('network_panel') }}'>Networks</a>
							<a class='dropdown-item' href='{{ url_for('edit_quota') }}'>Quota</a>
						</div>
					</li>
					{{ render_nav_item('logout', 'Logout') }}
					{% endif %}
				</ul>
			</div>
		</nav>
		{% endblock %}
	
		{% block content %}
			<div class='container'>
				<div class='pt-5 col'>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<div class='alert alert-info' role='alert'>{{ message }}</div>
					{% endfor %}
				{% endif %}
				{% endwith %}
		
				{% block app_content %}{% endblock %}
				</div>
			</div>
		{% endblock %}
	
		{% block scripts %}
		{{ bootstrap.load_js() }}
		{% endblock %}
	</body>
</html>
