{% extends "base.html" %}

{% block scripts %}
{{ super() }}
	<script type='text/javascript' src='{{ url_for('static', filename='course_management/course_management.js') }}'></script>
	<script>
		var formErrors = {% if upload_form.errors %}true{% else %}false{% endif %}
                $(document).ready(function() {
                        if (formErrors) {
                                $('#uploadCSVModal').removeClass('fade');
                                setTimeout(function() {$('#uploadCSVModal').addClass('fade');}, 1000);
                                $('#uploadCSVModal').modal('show');
                        }
		});

		$('.custom-file-input').on('change', function() {
   			let fileName = $(this).val().split('\\').pop();
   			$(this).next('.custom-file-label').addClass("selected").html(fileName);
		});
	</script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='course_management/course_management.css') }}'/>
{% endblock %}

{% block app_content %}
	<form action='' method='post' id='form'>
		{{ course_form.hidden_tag() }}
		
		<div class='d-flex justify-content-end pb-2'>
			<div class='pr-1'><input class="submit-button btn btn-primary" id="reset_password" name="reset_password" type="submit" value="Reset Password" onclick="submitButton(this)"></div>
			<div class='pr-1 pl-1'><input class="submit-button btn btn-primary" id="designate_as_ta" name="designate_as_ta" type="submit" value="Designate Student as TA" onclick="submitButton(this)"></div>
			<div class='pl-1'><input class="submit-button btn btn-danger" id="delete_student" name="delete_student" type="submit" value="Delete Student" onclick="submitButton(this)"></div>
		</div>

		<table class='table table-hover'>
			<thead class='thead-light'>
   				<tr>
					<th><i style='margin-left:15px' class='fas fa-check fa-fw'></i></div></th>
					<th>Username</th>
        				<th>Project Name</th>
    				</tr>
			</thead>
			<tbody>
				{% for data in course_form if data.type == "BooleanField" %}
    				<tr>
					<td>
						<div class='custom-control custom-checkbox'>
							<input id='{{ data.id }}' name='{{ data.id }}' type='checkbox' value='y' class='custom-control-input position-static'>
							<label class='custom-control-label' for='{{ data.id }}'/>
						</div>
					</td>
					<td>{% if 'nstructors' in data.description %}{{ data.label }} (TA){% else %}{{ data.label }}{% endif %}</td>
   		    			<td>{{ data.description }}</td>
    				</tr>
    				{% endfor %}
			</tbody>
		</table>
		<hr>
	</form>

	<div class='row'>
		<div class='col-md'>
			<div class='d-flex justify-content-end'>
				<a href='#uploadCSVModal' class='btn btn-info' data-toggle='modal' data-target='#uploadCSVModal'>Upload Course CSV</a>
			</div>
		</div>
	</div>

	<div id='uploadCSVModal' class='modal fade' role='dialog'>
		<div class='modal-dialog modal-dialog-centered'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h4 class='modal-title'>Upload Course CSV</h4>
					<button type='button' class='close' data-dismiss='modal'>&times;</button>
				</div>
				<div class='modal-body'>
					<form action='' method='post' enctype='multipart/form-data'>
						{{ upload_form.hidden_tag() }}
						{% for error in upload_form.file.errors %}
  						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						<div class='form-group'>
							<div class='input-group'>
								<div class='custom-file'>
									<input class='custom-file-input' id='file' name='file' type='file'>
									<label class='custom-file-label text-truncate' for='file'>Choose file</label>
								</div>
							</div>
						</div>
						<div class='d-flex justify-content-end'>
							{{ wtf.render_field(upload_form.upload) }}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
