{% extends "base.html" %}

{% block scripts %}
	{{ super() }}
	<script type='text/javascript' src='{{ url_for('static', filename='course_management/course_management.js') }}'></script>
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='course_management/course_management.css') }}'/>
{% endblock %}


{% block app_content %}
<h1>Course Management: {{ course }}</h1>
<form action="" method="post" id="form">
	{{ form.hidden_tag() }}
	<table class='table'>
		<thead class='grey lighten-2'>
   			<tr>
				<th scope='col'><span class="glyphicon glyphicon-ok"></span></th>
        			<th scope='col'>Username</th>
        			<th scope='col'>Project Name</th>
    			</tr>
		</thead>
		<tbody>
			{% for data in form if data.type == "BooleanField" %}
    			<tr>
				<th scope='row'>{{ data }}</th>
				<td>{% if 'nstructors' in data.description %}{{ data.label }} (TA){% else %}{{ data.label }}{% endif %}</td>
   		    		<td>{{ data.description }}</td>
    			</tr>
    			{% endfor %}
		</tbody>
	</table>
	<p>
	<input class="submit-button" id="reset_password" name="reset_password" type="submit" value="Reset Password" onclick="submitButton(this)">
	<input class="submit-button" id="designate_as_ta" name="designate_as_ta" type="submit" value="Designate Student as TA" onclick="submitButton(this)">
	<input class="submit-button" id="delete_student" name="delete_student" type="submit" value="Delete Student" onclick="submitButton(this)">
	</p>
</form>
<hr>
<a href={{ url_for('edit_quota') }}>Edit Project Quota</a>
<a href={{ url_for('image_management') }}>Image Management</a>
<a href={{ url_for('schedule_management') }}>Course Schedule Management</a>
<a href="">Verify Course Networks</a>
{% endblock %}
