{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script type='text/javascript' src='{{ url_for('static', filename='image_management/image_management.js') }}'></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='image_management/image_management.css') }}'/>
{% endblock %}


{% block app_content %}
<h1>Images</h1>
<form action="" method="post" id="form" novalidate>
	{{ form.hidden_tag() }}
    	<table style="text-align:left">
        <tr>
            <th></th>
            <th>Public Images</th>
        </tr>
        {% for data in form if data.type == "BooleanField" and data.description == "public" %}
        <tr>
            <td>{{ data }}</td>
            <td>{{ data.label }}</td>
        </tr>
        {% endfor %}
        <tr><th><br></th></tr>
        <tr>
            <th></th>
            <th>Private Images</th>
        </tr>
        {% for data in form if data.type == "BooleanField" and data.description == "private" %}
        <tr>
            <td>{{ data }}</td>
            <td>{{ data.label }}</td>
        </tr>
        {% endfor %}
    </table>
    <p> 
    	<input class="submit-button" id="change_visibility" name="change_visibility" type="submit" value="Change Visibility" onclick="submitButton(this)">
    	<input class="submit-button" id="download_image" name="download_image" type="submit" value="Get Image Download Link" onclick="submitButton(this)">
    </p>
</form>
{% endblock %}
