{% import 'bootstrap/form.html' as wtf %}

<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href='{{ url_for('static', filename='bootstrap/flatly.min.css') }}'/>
		<link rel='stylesheet' href='{{ url_for('static', filename='fontawesome/css/all.min.css') }}'/>
		<link rel='stylesheet' href='{{ url_for('static', filename='login/login.css') }}'/>
		<title>{{ title }} - CM Portal</title>
	</head>
	<body>

	<div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
					<div id="login-box">
            <form id="login-form" class="form" action="" method="post" autocomplete='off'>
							{{ form.hidden_tag() }} 

									<div class='form-group required'>
										<label class='sr-only' for='username'>Username</label>
										<div class='input-group-prepend'>
											<div class='input-group-text'><i class='fa fa-user fa-fw'></i></div>
											<input class="form-control" id="username" name="username" placeholder="Username" required type="text">
										</div>
									</div>
								
									<div class='form-group required'>
										<label class='sr-only' for='course'>Course</label>
										<div class='input-group-prepend'>
											<div class='input-group-text'><i class='fa fa-users fa-fw'></i></div>
											<input class="form-control" id="course" name="course" placeholder="Course ID" required type="text" maxlength='4'>
										</div>
									</div>

							<div class='form-group required'>
								<label class='sr-only' for='password'></label>
								<div class='input-group-prepend'>
									<div class='input-group-text'><i class='fa fa-lock fa-fw'></i></div>
									<input class="form-control" id="password" name="password" placeholder="Password" required type="password" value="">
								</div>
							</div>
							<input class='btn btn-primary btn-block' type='submit' id='submit' name='submit' value='Sign In'>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	</body>
</head>

