{% import 'bootstrap/form.html' as wtf %}

<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href='{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}'/>
		<link rel='stylesheet' href='{{ url_for('static', filename='fontawesome/css/all.min.css') }}'/>
		<link rel='stylesheet' href='{{ url_for('static', filename='login/login.css') }}'/>
		<title>{{ title }} - CM Portal</title>
	</head>

	<body>

	<div id="login">
        	<h3 class="text-center text-white pt-5">CM Portal</h3>
        	<div class="container">
        		<div id="login-row" class="row justify-content-center align-items-center">
                		<div id="login-column" class="col-md-6">
                    			<div id="login-box" class="col-md-12">
                        			<form id="login-form" class="form" action="" method="post">
							{{ form.hidden_tag() }} 
							{{ wtf.render_field(form.username, form_type='inline') }}
                                                	{{ wtf.render_field(form.course, form_type='inline') }}
                                                	{{ wtf.render_field(form.password, form_type='inline') }}
                                                	{{ wtf.render_field(form.submit) }}
                		       		</form>
                		    	</div>
                		</div>
            		</div>
        	</div>
    	</div>

	</body>
</head>

