{% extends "base.html" %}

{% block head %}
{% include 'scripts.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    <h1>Modify Network: {{ network_name }}</h1>
    <form action="" method="post" id="form">
        {{ form.hidden_tag() }}
        <table class="left-align">
            <tr>
                <th>{{ form.dhcp_toggle.label }}</th> 
                <td>{{ form.dhcp_toggle }}<td>
                <td>{% for error in form.dhcp_toggle.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}</td>
            </tr>
            <tr>
                <th>{{ form.port_security_toggle.label }}</th>
                <td>{{ form.port_security_toggle }}</td>
                <td>{% for error in form.port_security_toggle.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}</td>
            </tr>
            <tr>
                <th>{{ form.internet_access_toggle.label }}</th>
                <td>{{ form.internet_access_toggle }}</td>
                <td>{% for error in form.internet_access_toggle.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}</td>
            </tr>
        </table>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
