{% extends "base.html" %}

{% block styles %}
{{ super() }}
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='network/network.css') }}'/>

	<style>
	.hiddenRow {padding:0 !important;}
	.list-group-hover .list-group-item:hover {
	    background-color: #f5f5f5;
	}
	{#.active {
		background-color: #3498DB !important;
		border-color: #3498DB !important;
	}#}
	</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript' src='{{ url_for('static', filename='network/network.js') }}'></script>
	<script>
		var formErrors = {% if create_form.errors %}true{% else %}false{% endif %}
		$(document).ready(function() {
			if (formErrors) {
				$('#createNetworkModal').removeClass('fade');
				setTimeout(function() {$('#createNetworkModal').addClass('fade');}, 1000);
				$('#createNetworkModal').modal('show');

			}
		});

		$('input[type="text"]').keyup(function() {
			$(this).removeClass('is-invalid');
			var textInput = this.value;
			if ((textInput == '{{ create_form.network_name.data }}') || (textInput == '{{ create_form.network_address.data }}')) {
				$(this).addClass('is-invalid');
			};
		});
		
		$('#createNetworkModal').on('hidden.bs.modal', function() {
			$(this).find('#network-create-form').find('input[type="text"]').val('').end();
			$(this).find('#network-validate-form').find('input[type="text"]').removeClass('is-invalid');
		});

		$('#network-list a').on('click', function(e) {
			e.preventDefault();
			$(this).tab('show');
		});
	</script>
{% endblock %}

{% block app_content %}
	<div class='row'>
		<div class='col-md'>
			<div class='d-flex justify-content-end'>
				<a href='#createNetworkModal' class='btn btn-secondary mb-3' data-toggle='modal' data-target='#createNetworkModal'>Create Network</a>
			</div>
		</div>
	</div>

	{% if networks_list %}
	<div id='accordion'>
		<ul class='panel list-group' id='accordion-list'>
			{% for network in networks_list|sort %}
			<li class='list-group-item' data-toggle='collapse' data-target='#{{ network }}' class='accordion-toggle'>{{ network }}</li>
			
			<div class='collapse' id='{{ network }}'>
				
				{# CARD NAV HEADER #}
				<div class='card'>

					<div class='card-header'>
						<ul class='nav nav-tabs card-header-tabs' id='network-list' role='tablist'>
							<li class='nav-item'>
								<a href='#{{ network }}-view' class='nav-link active' data-target='#{{ network }}-view' role='tab'>Information</a>
							</li>
							<li class='nav-item'>
								<a href='#{{ network }}-option' class='nav-link' data-target='#{{ network }}-options' role='tab'>Configurations</a>
							</li>
						</ul>
					</div>

					<div class='card-body p-0'>
						<div class='tab-content'>
							<div class='tab-pane active' id='{{ network }}-view' role='tabpanel'>
								<div class='card-text'>
								<table class='table'>
									<tr>
										<th>Network Name:</th>
										<td>{{ networks_list[network]['name'] }}</td>
									</tr>
									<tr>
										<th>Subnet Name:</th>
										<td>{{ networks_list[network]['subnets']['name'] }}</td>
									</tr>
									<tr>
										<th>Subnet CIDR:</th>
										<td>{{ networks_list[network]['subnets']['cidr'] }}</td>
									</tr>
									<tr>
										<th>Address Pool:</th>
										<td>{{ networks_list[network]['subnets']['allocation_pools'][0]['start'] }}-{{ networks_list[network]['subnets']['allocation_pools'][0]['end'] }}</td>
									</tr>
									<tr>
										<th>Router Name:</th>
										<td>{{ networks_list[network]['router']['name'] }}</td>
									</tr>
									<tr>
										<th>Gateway IP:</th>
										<td>{{ networks_list[network]['subnets']['gateway_ip'] }}</td>
									</tr>
								</table>
								</div>
							</div>
							
							<div class='tab-pane' id='{{ network }}-options' role='tabpanel'>
								<div class='card-text'>
									<form action='' method='post' id='{{ network }}-edit-form'>
										{{ edit_form.hidden_tag() }}
										<table class='table'>
											<tr>
												<td>
													<div class='custom-control custom-switch'>
														{% if networks_list[network]['subnets']['enable_dhcp'] == true %}
														<input id='dhcp_toggle_{{ network }}' name='dhcp_toggle_{{ network }}' type='checkbox' class='custom-control-input' checked>
														{% else %}
														<input id='dhcp_toggle_{{ network }}' name='dhcp_toggle_{{ network }}' type='checkbox' class='custom-control-input'>
														{% endif %}
														<label class='custom-control-label' for='dhcp_toggle_{{ network }}'>
													</div>
												</td>
												<td>
													Enable DHCP
												</td>
											</tr>
												<td>
													<div class='custom-control custom-switch'>
														{% if networks_list[network]['port_security_enabled'] == true %}
														<input id='port_security_toggle_{{ network }}' name='port_security_toggle_{{ network }}' type='checkbox' class='custom-control-input' checked>
														{% else %}
														<input id='port_security_toggle_{{ network }}' name='port_security_toggle_{{ network }}' type='checkbox' class='custom-control-input'>
														{% endif %}
														<label class='custom-control-label' for='port_security_toggle_{{ network }}'>
													</div>
												</td>
												<td>
													Enable Port Security
												</td>
											</tr>
											<tr>
												<td>
													<div class='custom-control custom-switch'>
														{% if networks_list[network]['router'] %}
														<input id='internet_access_toggle_{{ network }}' name='internet_access_toggle_{{ network }}' type='checkbox' class='custom-control-input' checked>
														{% else %}
														<input id='internet_access_toggle_{{ network }}' name='internet_access_toggle_{{ network }}' type='checkbox' class='custom-control-input'>
														{% endif %}
														<label class='custom-control-label' for='internet_access_toggle_{{ network }}'>
													</div>
												</td>
												<td>
													Internet Access Enabled
												</td>
											</tr>
										</table>
										<div class='d-flex justify-content-end pb-2 pr-2'>
											<input class="btn btn-success" id="edit_network_{{ network }}" name="edit_network" type="submit" value="Save Configurations">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</ul>
	</div>
	<div class='row'>
		<div class='col-md'>
			<div class='d-flex justify-content-end'>
				<a href='#validateNetworkModal' class='btn btn-info mt-3' data-toggle='modal' data-target='#validateNetworkModal'>Validate Networks</a>
			</div>
		</div>
	</div>
	{% else %}
	<p>No networks found for this course.</p>
	{% endif %}

	<div id='createNetworkModal' class='modal fade' role='dialog'>
		<div class='modal-dialog modal-dialog-centered'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h4 class='modal-title'>Create Network</h4>
					<button type='button' class='close' data-dismiss='modal'>&times;</button>
				</div>
				<div class='modal-body'>
					<form action='' method='post' id='network-create-form' autocomplete='off'>
						{{ create_form.hidden_tag() }}
						
						{{ wtf.render_field(create_form.network_name) }}
						{#	{{ wtf.render_field(create_form.network_address }} #}

						<div class='form-group required'>
							<label for='network_address'>Network Address</label>
							<div class='input-group'>
								{% if create_form.network_address.errors %}
								<input class="form-control is-invalid" id="network_address" name="network_address" required type="text" value='{{ create_form.network_address.data }}'>
								<div class='input-group-append'>
									<div class='input-group-text' style='border-top-right-radius:0.3rem !important; border-bottom-right-radius:0.3rem !important;'>/24</div>
								</div>
								{% for error in create_form.network_address.errors %}
								<div class='invalid-feedback'>{{ error }}</div>
								{% endfor %}
								
								
								{% else %}
								<input class='form-control' id='network_address' name='network_address' required type='text' value='192.168.0.0'>
								<div class='input-group-append'>
									<div class='input-group-text'>/24</div>
								</div>
								{% endif %}
							</div>
						</div>

						<div class='d-flex justify-content-end'>
							{#<input id='submit-network' class="submit-button btn btn-success" name="submit" type="submit" value="Submit" onclick='submitButton(this)'>#}
							{{ wtf.render_field(create_form.create_network) }}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id='validateNetworkModal' class='modal fade' role='dialog'>
		<div class='modal-dialog modal-dialog-centered'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h4 class='modal-title'>Validate Networks</h4>
					<button type='button' class='close' data-dismiss='modal'>&times;</button>
				</div>
				<div class='modal-body'>
					<p>The following networks will have their configurations checked:</p>
					<ul>
					{% for name in networks_list %}
						<li>{{ name }}</li>
					{% endfor %}
					</ul>
					<p>Do you want to continue?</p>
					<form action='' method='post' id='network-validate-form'>
						{{ check_form.hidden_tag() }}
						<div class='form-group required'>
							{#<input id='accept_check' class='submit-button btn btn-success' name='accept_check' type='submit' value='Confirm' onclick='submitButton(this)'>#}
							{{ wtf.render_field(check_form.check_network) }}
							<button type="button" class="btn btn-danger" id="btnclose" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
