{% extends "base.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='fullcalendar/packages/core/main.css') }}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='fullcalendar/packages/daygrid/main.css') }}" rel='stylesheet'/>
	<link href="{{ url_for('static', filename='fullcalendar/packages/timegrid/main.css') }}" rel='stylesheet'/>
	<link href="{{ url_for('static', filename='fullcalendar/packages/bootstrap/main.css') }}" rel='stylesheet'/>

	<style>
	#modal {
		display: none;
	}
	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}
	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#calendar {
		width:80%;
		margin: 40px auto;
		padding: 0 10px;
	}
	</style>
	{{ super() }}
{% endblock %}

{% block scripts %}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/core/main.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/daygrid/main.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/timegrid/main.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/interaction/main.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/bootstrap/main.js') }}"></script>

	<script>
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');

		var calendar = new FullCalendar.Calendar(calendarEl, {
 			plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'bootstrap' ],
			header: {
				left: 'title',
				center: '',
				right: 'prev, next, today',
			},
			themeSystem: 'bootstrap',
			defaultView: 'timeGridWeek',
			defaultDate: moment().format('YYYY-MM-DD'),
			allDaySlot: false,
			events: {
				url: '/api/schedule',
				failure: function() {
					document.getElementById('script-warning').style.display = 'block'
				}
			},
			eventOverlap: false,
			nowIndicator: true,
			slotDuration: '01:00:00',
			snapDuration: '00:10:00',
			height: 'auto',
			loading: function(bool) {
				$('#loading').toggle(bool);
			},
			dateClick: function(info) {
				alert('Clicked on: ' + info.dateStr);
			},
			eventClick: function(info) {
				$('#modalTitle').html(info.event.title);
				
				document.getElementById('modalBody').innerHTML = '';
				document.getElementById('modalBody').innerHTML += info.event.start
				document.getElementById('modalBody').innerHTML += info.event.end

				$('#calendarModal').modal();
			}
		});

		calendar.render();
	});
	</script>
{{ super() }}

{% endblock %}
	
{% block app_content %}
<h1>Course Schedule</h1>
<div id='script-warning'>
	Error getting data from <code>/data</code> endpoint.
</div>
<div id='loading'>loading...</div>
<div id='calendar'></div>

<div id='calendarModal' class='modal fade'>
	<div class='modal-dialog modal-dialog-centered'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4 id='modalTitle' class='modal-title'></h4>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
			</div>
			<div id='modalBody' class='modal-body'> </div>
		</div>
	</div>
</div>


{% endblock %}
