{% extends "base.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='fullcalendar/packages/core/main.css') }}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='fullcalendar/packages/daygrid/main.css') }}" rel='stylesheet'/>
	<link href="{{ url_for('static', filename='fullcalendar/packages/timegrid/main.css') }}" rel='stylesheet'/>
	<link href="{{ url_for('static', filename='fullcalendar/packages/bootstrap/main.css') }}" rel='stylesheet'/>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
	
	<style>
	#modal {
		display: none;
	}
	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}
	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#calendar {
		margin: 40px auto;
		padding: 0 10px;
	}

	.fc-today {
		background: #f6f8f8 !important;
	}

	.dropdown-toggle:after { 
		content: none;
	}

	</style>
	{{ super() }}
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/core/main.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/daygrid/main.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/timegrid/main.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/interaction/main.js') }}"></script>
	<script src='{{ url_for('static', filename='bootstrap/fullcalendar.js') }}'></script>
	
	{# Bootstrap DateTime Stuff #}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

	{# Custom scripts #}
	<script type='text/javascript' src='{{ url_for('static', filename='schedule_management/schedule_management.js') }}'></script>
{% endblock %}
	

{% block app_content %}
<div id='script-warning'>
	Error getting data from <code>/api/schedule</code> endpoint.
</div>

<div id='loading'>loading...</div>

<div class='d-flex justify-content-start mb-0'>
	<div class='dropdown'>
		<button type='button' class='btn btn-dark dropdown-toggle' data-toggle='dropdown' style='position:absolute;left:10px;'>
			<i class="far fa-calendar-plus"></i>
		</button>
		
		<div class='dropdown-menu'>
			<div class='dropdown-header'>Schedule Menu</div>
			<a class='dropdown-item' href='#addScheduleTime' id='add_schedule_time' name='add_schedule_time' data-toggle='modal' data-target='#addScheduleTime'>Add Weekly Lab Session</a>
			{#<a class='dropdown-item' href='#addWeekendTime' id='add_weekend_time' name='add_weekend_time' data-toggle='modal' data-target='#addWeekendTime'>Add Weekend Session</a>#}
		</div>
	</div>
</div>

<div id='calendar' class='mt-0 pt-0'></div>

<div id='addScheduleTime' class='modal fade'>
	<div class='modal-dialog modal-dialog-centered'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4 id='modalTitle' class='modal-title'>Add Weekly Lab Session</h4>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
			</div>

			<div id='modalBody' class='modal-body'> 
				<form action='' method='post' id='addtimeform'>
					{{ add_time_form.hidden_tag() }}
					<div class='form-group required'>
						<div class='input-group date' id='starttimepicker' data-target-input='nearest'>
							<div class='input-group-prepend'>
								<span class='input-group-text'>Start Time</span>
							</div>
							<input class='form-control datetimepicker-input' data-target='#starttimepicker' type='text' id='start_time' name='start_time' required value autocomplete='off'>
							<div class='input-group-append' data-target='#starttimepicker' data-toggle='datetimepicker'>
								<div class='input-group-text'><i class='fa fa-clock'></i></div>
							</div>
						</div>
					</div>

					<div class='form-group required'>
						<div class='input-group date' id='endtimepicker' data-target-input='nearest'>
							<div class='input-group-prepend'>
								<span class='input-group-text'>End Time &nbsp;</span>
							</div>
							<input class='form-control datetimepicker-input' data-target='#endtimepicker' type='text' id='end_time' name='end_time' required value autocomplete='off'>
							<div class='input-group-append' data-target='#endtimepicker' data-toggle='datetimepicker'>
								<div class='input-group-text'><i class='fa fa-clock'></i></div>
							</div>
						</div>
					</div>

					<div class='form-group required'>
						<div class='btn-group btn-group-toggle btn-block' data-toggle='buttons'>
							<label class='btn btn-primary' style='border-color:#000'>
								<input type='radio' name='weekday' id='weekday-0' autocomplete='off' value='1' required>
								M
							</label>
							<label class='btn btn-primary' style='border-color:#000'>
								<input type='radio' name='weekday' id='weekday-1' autocomplete='off' value='2' required>
								T
							</label>

							<label class='btn btn-primary' style='border-color:#000'>
								<input type='radio' name='weekday' id='weekday-2' autocomplete='off' value='3' required>
								W
							</label>

							<label class='btn btn-primary' style='border-color:#000'>
								<input type='radio' name='weekday' id='weekday-3' autocomplete='off' value='4' required>
								T
							</label>

							<label class='btn btn-primary' style='border-color:#000'>
								<input type='radio' name='weekday' id='weekday-4' autocomplete='off' value='5' required>
								F
							</label>

						</div>
					</div>

					<div class='d-flex justify-content-end'>
						<div class='form-group required'>
							{{ wtf.render_field(add_time_form.add_time) }}
						</div>
					</div>

				</form>
			</div>

		</div>
	</div>
</div>


<div id='viewEventModal' class='modal fade'>
	<div class='modal-dialog modal-dialog-centered'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4 id='view-event-modal-title' class='modal-title'></h4>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
			</div>
			<div class='modal-body'>
				<table id='event-info' class='table table-sm mb-0'>
					<tr>
						<th>Event Creator:</th>
						<td><span id='event-creator'></span></td>
					</tr>
					<tr>
						<th>Start Time:</th>
						<td><span id='event-start-time'></span></td>
					</tr>
					<tr>
						<th>End Time:</th>
						<td><span id='event-end-time'></span></td>
					</tr>
				</table>
			</div>
			<div class='modal-footer'>
				<form action='' method='post' id='eventsettingsform'>
					{{ remove_time_form.hidden_tag() }}
					<input class="btn btn-danger" id="remove_time" name="remove_time" type="submit" value="Delete">
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
